@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body{
	background: url("sitebackground.png") no-repeat fixed top right;
}
container{
width: 800px;
	margin: 0 auto;
	background-color: rgba(0,0,0,.6);
}

.left{
	width:480px;
	height: 200px;
	background-color:#256646;
	border-radius: 25px;
	float: left;
	margin: 8px 10px 0px 10px;
}

.right{
	width:480px;
	height: 200px;
	background-color: #256646;
	border-radius: 25px;
	float: left;
}
footer{
	background-color: #a1c4b3;
	clear: both;
}