@charset "utf-8";
/* CSS Document */
.button{
	float: auto;
	margin: auto;
	padding: 5px 5px 5px 5px;
	background-color:#C1F5CD;
}
body {
    background-color: #366544;
}
.left{
	width:480px;
	height: 3530px;
	background-color:#256646;
	border-radius: 6px;
	float: auto;
	margin: auto;
	padding: 5px 10px 20px 20px;
	border: solid 2.5px #c5fade;
}
.storyimages{
	margin: center;
}
.navi{
	width:350px;
	height: 65px;
	background-color: #69A386;
	border-radius: 5px;
	margin: auto;
	padding: -0px 5px 15px 15px;
	border: solid 2.5px #c5fade;
}
a:link{
	text-decoration: none
}
a:visted{
	text-decoration: none;
	text-decoration-color:#B6FFB8;
}
a:hover{
	text-decoration: underline;
	text-decoration-color:#D2F8DC;
}
a:active{
	text-decoration: underline;
}
/*nav bar*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #486F57;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

nav .active {
  background-color: #04AA6D;
}

#container section .left p strong {
    font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}
#container section .left p strong {
    font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial, sans-serif;
}
#container footer strong em {
    font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif;
}
#container section .right strong {
    font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial, sans-serif;
}
#container header h1 strong em {
    font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial, sans-serif;
}
#container .top tr th bold span b {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif;
}