@charset "utf-8";
/* CSS Document */
body {
    background-color: #366544;
}
*{
	box-sizing: border-box;
}
.left{
	width:480px;
	height: 390px;
	background-color:#256646;
	border-radius: 6px;
	float: left;
	margin: 0px 10px 5px 15px;
	padding: 5px 10px 20px 20px;
	border: solid 2.5px #c5fade;
}
.button{
	float: auto;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
}