@charset "utf-8";
/* CSS Document */
.button{
	float: auto;
	margin: auto;
	padding: 5px 5px 5px 5px;
	background-color:#C1F5CD;
}
body {
    background-color: #366544;
}
.left{
	width:480px;
	height: 1661px;
	background-color:#256646;
	border-radius: 6px;
	float: auto;
	margin: auto;
	padding: 5px 10px 20px 20px;
	border: solid 2.5px #c5fade;
}
.storyimages{
	margin: center;
}